<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
      jdbc:sqlserver://grupo1-metodologiasagiles.database.windows.net:1433;database=gestorbibliotecario
    </property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="connection.username">adminbibliotecario</property>
    <property name="connection.password">Grupo1metodologias</property>
    <mapping class="modelos.ClaseEstudiante"/>
    <mapping class="modelos.ClaseLibro"/>
    <mapping class="modelos.ClasePrestamo"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

  </session-factory>
</hibernate-configuration>